{{#each lista}}
<div class="pass">
Nome Completo: {{dataValues.nomeCompleto}}<br><br>
Email: {{dataValues.email}}<br><br>
Telefone: {{dataValues.telefone}}<br><br>
Origem: {{dataValues.origem}}<br><br>
Destino: {{dataValues.destino}}
<a href="/presente/{{dataValues.id}}"><button class="presente">PRESENTE</button></a><hr>
<a href="/ausente/{{dataValues.id}}"><button class="ausente">AUSENTE</button></a>
</div>
{{/each}}

<br><a href="/CallListMissing"><button class="next">Próximo</button></a>

