{{#each lista}}
<br>
<div class="pass">
Data de adesão: {{dataValues.updatedAt}}<br>
Nome Completo: {{dataValues.nomeCompleto}}<br>
Email: {{dataValues.email}}<br>
Telefone: {{dataValues.telefone}}<br>
<a href="/remove/{{dataValues.id}}"><button>REMOVER</button></a>
</div>
{{/each}}


