

{{#each lista}}
<div class="pass">
Nome Completo: {{dataValues.nomeCompleto}}<br><br>
Email: {{dataValues.email}}<br><br>
Telefone: {{dataValues.telefone}}<br><br>
Origem: {{dataValues.origem}}<br><br>
Destino: {{dataValues.destino}}
<a href="/remove/{{dataValues.id}}"><button>REMOVER</button></a>
</div>
{{/each}}

